<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="=submit" value="SUBMIT"> SUBMIT</button>
    </form><br><br><br>

    <table border="2">
        <tr>
            <th>Department</th>
            <th>HOD</th>
        </tr>
        {% for x in data %}
        <tr>
            <td>{{x.dept_name}}</td>
            <td>{{x.dept_head}}</td>
        </tr>
        {% endfor %}
    </table>

    <a href="{% url 'home_page' %}">
        <button>Home</button>
    </a>
</body>
</html>